/*feuille de style pour la page avec les dégradés*/
body {
    background-color: lightcyan;
}

.carre {
    /*couleur en dégradé pour la classe, un dégrade qui démarre avec la 1ère couleur et finit avec la 2nde couleur, par défaut, de haut en bas*/
    background: linear-gradient(to right,#40a497, #6840a4);
    /*largeur*/
    width: 45em;
    /*hauteur*/
    height: 45em;
    /*pas de marge (valeur 0) en haut et en bas et la valeur auto laisse le nav centrer l'élément*/
    margin: 0 auto;
}

.cercle {
    background: linear-gradient(to left,lightblue, #6840a4 );
    width: 45em;   
    height: 45em;
    margin: 0 auto;
    /*la propriété border-radius permet d'arrondir + ou - les angles*/
    border-radius: 50em;
}
