/*feuille de style pour le 2nd zoning*/

body {
    background-color: paleturquoise;
    font-size: 25px;
    color: white;
}

section {
    height: 500px;
}

.clear {
    clear: both;
}

.carre1, .carre2 {
    width: 180px;
    height: 180px;
    float: left;
    border: 5px solid white;
    border-radius: 25px;
    text-align: center;
    margin: 5px;
}

.carre1 {
    background-color: silver;   
}
.carre2 {
    background-color: steelblue;
}