body {
    background-color: powderblue;
    color: royalblue;
    font-size: 25px;
    font-family: segoe print;
}

legend {
    color: purple;
    font-size: 50px;
    font-family: lobster;
}

fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:20px;
    border:5px solid purple;
    width: 700px;
    }

form {
    background-color: lightpink;
    padding:10px;
    width:760px;
}   