/* feuille de style pour fichier ebook */

body {
    background-color: ivory;
}

/* style pour bien voir les réponses aux questions */
.reponse {
    background-color: gold;

}

.dt {
    color: midnightblue;
    font-weight: bold;
    font-size: 20px;
}

.dd {
    color: darkslategrey;
}

.dl {
    background-color: lavender;
    width: 1800px;
    line-height: 45px;
    
}